.clickMe {
  background: #86959e;
  background-image: -webkit-linear-gradient(top, #86959e, #2f383d);
  background-image: -moz-linear-gradient(top, #86959e, #2f383d);
  background-image: -ms-linear-gradient(top, #86959e, #2f383d);
  background-image: -o-linear-gradient(top, #86959e, #2f383d);
  background-image: linear-gradient(to bottom, #86959e, #2f383d);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 3px 20px 3px 20px;
  text-decoration: none;
}

.clickMe:hover {
  background: #029907;
  text-decoration: none;
}
	.datagrid table 
	{
		border-collapse: collapse;
	 	text-align: left;
	  	width: 100%;
	}
	.datagrid 
	{
		font: normal 12px/150% Arial, Helvetica, sans-serif;
		background: #fff; 
		overflow: hidden; 
		border: 1px solid #000000; 
		-webkit-border-radius: 3px; 
		-moz-border-radius: 3px; 
		border-radius: 3px; 
	}
	.datagrid table td, .datagrid table th 
	{ 
		padding: 3px 10px; 
	}
	.datagrid table thead th 
	{
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #029907), color-stop(1, #029907) );
		background:-moz-linear-gradient( center top, #029907 5%, #029907 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#029907', endColorstr='#029907');
		background-color:#029907;
		color:#FFFFFF; 
		font-size: 15px; 
		font-weight: bold; 
		border-left: 1px solid #000000;
	} 
	.datagrid table thead th:first-child 
	{ 
		border: none;
	}
	.datagrid table tbody td 
	{
		color: #7D7D7D; 
		border-left: 1px solid #000000;
		font-size: 12px;
		font-weight: normal;
	}
	.datagrid table tbody td:first-child 
	{
		border-left: none;
	}
	.datagrid table tbody tr:last-child td 
	{ 
		border-bottom: none;
	}
	.datagrid tr:hover td
	{
		background-color: grey;
		color: #FFFFFF;
	}
	.selectedItems
	{
		width: 50%;
	}
	.marketTable
	{
		width: 50%;
	}